<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
    <div class="card">
        <div class="card-header">
          Bus Appointment
        </div>
        <div class="card-body">
          <h5 class="card-title">we have bus service</h5>
          <p class="card-text">we have best travel sevice you can reserve bus seat from our app</p>
          <p class="card-text">Book your ticket now</p>

          <a href="/create-location" class="btn btn-primary">Book Seat</a>
        </div>
      </div>
    </div>
    
</body>
</html>